<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">Login</h3>
                    <hr class="login-hr">
                    <div class="box">
                        <figure class="avatar">
                            <img src="../assets/images/login.svg">
                        </figure>
                        <form>
                            <div class="field">
                                <div class="control">
                                    <div class="control has-icons-left ">
                                        <span class="icon is-left"><i class="fa fa-user"></i></span>
                                        <input class="input" type="email" placeholder="Nom d'utilisateur" autofocus="">
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <div class="control has-icons-left ">
                                        <span class="icon is-left"><i class="fa fa-lock"></i></span>
                                        <input class="input " type="password" placeholder="Mot de Passe">
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script type="text/Javascript" src="../assets/js/particles.js"></script>
    <script type="text/Javascript" src="../assets/js/app.js"></script>
</body>